* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 20px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

li>input{
    width: 20px;
    height: 20px;
    margin-right:20px;
}

ul>li>i{
  margin-right:12px;
}

i:hover{
  transition: transform .2s;
  transform: scale(1.20);
}


@media (max-width: 541px) {
    #res-line-break{
      display: block;
    }
}
